    <header class="masthead text-center text-white d-flex" style="background-image:url('https://images.unsplash.com/photo-1504707748692-419802cf939d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=91e5c866735dc8ede346b0f7cf9c2bc7&auto=format&fit=crop&w=1460&q=80') ">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <img style="height:110px; margin:10px;" src="<%= asset_path('icon.png') %>">
            <h1 class="" style="padding-bottom: 20px;">
              <strong>MultiNewTab</strong>
            </h1>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5" style="color: white;">Use multiple 'New Tab' chrome extensions without manually enabling and disabling them.</p>
            <a target="_blank" class="btn btn-info btn-xl" href="https://chrome.google.com/webstore/detail/multinewtab/dcekaapllellbikbhfgbacoebbopjhbl?hl=en" style="margin-right:25px;"><span class="glyphicon glyphicon-download"></span>Get extension</a>

            <a class="btn btn-info btn-xl" href="#demo"><span class="glyphicon glyphicon-download"></span>View Demo</a>

          </div>
        </div>
      </div>

    </header>


<div style="position:fixed; bottom:0; right:0; background-color: #191919; color:white;">
  <div style="padding:15px;">    
    <a target="_blank" href="http://www.alexsideris.me" style="padding-right: 15px; padding-left: 15px; padding-top: 15px; color:white;">Made by @alexsideris94</a>
  </div>
</div>

<div style="height:50px; background-color: #191919; color:white; font-size: 20px; text-align: center;">
  <p style="padding-top: 10px;">Or see a small demo first. It's super easy! 😀</p>
</div>

<div style="background-color: #191919;" id="demo">
  <%= video_tag "demo_final.mp4", :style => "display:inline-block; text-align:center; height:500px; width:100%;", :controls => true %>

</div>

<footer class="footer" style="">
    <div style="bottom: 0px; background-color: black; width:100%; text-align: center; color:white; font-size: 13px; padding:5px;">
      <span>MultiNewTab © - 2018</span>
    </div>
  </footer>
